 body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

p, h1 {
    margin: 0;
}

main {
    height: 100vh;
    background-color: #95e1d3;
}




.user-profile p {
    font-weight: 600;
}

.user-profile button {
    margin-left: 10px;
}

.user-profile >* {
    margin-bottom: 10px;
}

.car-app {
    flex-grow: 1;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-filter {
    margin-bottom: 10px;
}

.car-filter>input {
    padding: 8px;
    margin-left: 10px;
}

.car-list {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.car-list>*:not(:first-child) {
    margin-left: 15px;
}

.car-preview {
    padding: 5px 10px;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.car-preview>* {
    flex-grow: 1;
    margin-bottom: 5px;
}

.car-preview img {
    width: 100px;
    min-height: 100px;
}
.car-edit{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.car-edit>div {
    padding-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.car-edit button{width: 100%;}
.car-edit input {
    margin-bottom: 15px;
    padding: 8px;
}

.car-details {
    flex-grow: 1;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car-details .details {
    padding: 30px 0;
    text-align: center;
}

.car-details .details>* {
    margin-bottom: 10px;
}

.car-details img {
    width: 200px;
}

.delete-btn {
    background-color: #f38181;
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 0;
    font: inherit;
    position: absolute;
    right: -10px;
    top: -10px;
}



footer {
    height: 100px;
    background-color: #f38181;
}

.btn {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #fce38a;
    font-weight: 600;
    color: #232323;
    border: 0;
}
.dark{
    background-color: #373737;
    color: white;
}
.bold {
    font-weight: 600;
}

/* Flex Helpers */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.center {
    justify-content: center;
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}